// @tailwind base;
// @tailwind components;
// @tailwind utilities;
$primary: #dd38e6;
$blue: #3a82ee;
$work: $blue;
$d_orange: #eb5d4d;
$personal: $d_orange;
$light: #eee;
$grey: #888;
$dark_grey: #7b7979;
$dark: #313154;
$danger: $d_orange;
$text_info: #419284;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$blue-shadow: 0px 0px 4px #3978d6;
$business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
$personal-glow: 0px 0px 4px #d85648;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: $light;
  color: $dark;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}

h3 {
  color: $dark;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: $grey;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.greeting__title {
  display: flex;
  input {
    margin-left: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: $dark;
    min-width: 0;
  }
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.11rem;
  padding: 1rem 1.5rem;
  color: $dark;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: $shadow;
  margin-bottom: 1.5rem;
}

.create-todo__options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    cursor: pointer;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  border: 2px solid $work;
  box-shadow: $business-glow;

  &.personal {
    border-color: $personal;
    box-shadow: $personal-glow;
  }

  &::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: $work;
    box-shadow: $business-glow;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }

  &.personal::after {
    background-color: $personal;
    box-shadow: $personal-glow;
  }

  input:checked ~ &::after {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.12rem;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: $d_orange;
  border-radius: 0.5rem;
  box-shadow: $personal-glow;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    transform: translateY(2px); 
  }
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: $shadow;
  margin-bottom: 1rem;

  label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
  }

  .todo-content {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    align-items: center;
    &__info{
      margin-top: 5px;
      margin-left: 20px;
      img{
        width: 30px;
        &:hover{
          opacity: 0.66;
        }
      }
    }
  }

  .todo-content input {
    color: $dark;
    font-size: 1.125rem;
  }
  

  .actions {
    display: flex;
    align-items: center;

    button {
      display: block;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      color: $danger;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        opacity: 0.75;
      }
      &:active {
        transform: translateY(2px); 
      }
      &.edit {
        margin-right: 0.5rem;
        background-color: $primary;
      }

      &.delete {
        background-color: #fff;
      }
    }
  }
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: $grey;
}

@media (max-width: 400px) {
  .todo-item .actions .delete {
    margin-left: -50px;
  }
}


.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  &-info {
    background-color: white; 
    padding: 20px;
    box-shadow: $light;
    border-radius: 10px;
    margin: 20px;
    width: 100%; 
    max-width: 900px; 
    &__label {
      display: block;
      margin-top: 10px;
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    &__input {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }
    
    &__select {
      width: 20%; 
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    &__date {
      border: 1px solid #ccc;
      padding: 10px 150px;
      display: flex;
      justify-content: space-between;
    }

    &__save {
      display: flex; 
      align-items: center;
      &-button {
        padding: 10px 20px;
        background-color: $d_orange;
        box-shadow: $personal-glow;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
        &:active {
          transform: translateY(2px); 
        }
      }

      &-link {
        margin-left: 20px;
        color: $text_info;
        text-decoration: none;
        &:hover {
          opacity: 0.75;
        }
        &:active {
          transform: translateY(1px); 
        }
      }
    }
  }
}