$primary: #dd38e6;
$work: #3A82EE;
$personal: $primary;
$light: #EEE;
$grey: #888;
$dark: #313154;
$danger: #ff5b57;

$shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

$business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
$personal-glow: 0px 0px 4px rgba(211, 64, 234, 0.75);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: $light;
  color: $dark;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}

h3 {
  color: $dark;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: $grey;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.greeting__title {
  display: flex;
  color: $dark;
  font-size: 1.5rem;
  font-weight: 700;

  input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
  }
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: $dark;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: $shadow;
  margin-bottom: 1.5rem;
}

.create-todo__options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    cursor: pointer;
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  border: 2px solid $work;
  box-shadow: $business-glow;

  &.personal {
    border-color: $personal;
    box-shadow: $personal-glow;
  }

  &::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: $work;
    box-shadow: $business-glow;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }

  &.personal::after {
    background-color: $personal;
    box-shadow: $personal-glow;
  }

  input:checked ~ &::after {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #FFF;
  background-color: $primary;
  border-radius: 0.5rem;
  box-shadow: $personal-glow;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: $shadow;
  margin-bottom: 1rem;

  label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
  }

  .todo-content {
    flex: 1 1 0%;
  }

  .todo-content input {
    color: $dark;
    font-size: 1.125rem;
  }

  .actions {
    display: flex;
    align-items: center;

    button {
      display: block;
      padding: 0.5rem;
      border-radius: 0.25rem;
      color: #FFF;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 0.75;
      }

      &.edit {
        margin-right: 0.5rem;
        background-color: $primary;
      }

      &.delete {
        background-color: $danger;
      }
    }
  }
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: $grey;
}

.todo-detail {
  padding: 20px;
}


@media (max-width: 400px) {
  .todo-item .actions .delete {
    margin-left: -50px;
  }
}
